rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
        (
          request.auth.token.email == "shinestone0106@kakao.com" ||
          request.auth.token.email == "kos20050627@gmail.com"
        );
    }

    match /photos/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /content-images/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /video-thumbnails/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /site-settings/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
